*

{
margin: 0;
padding: 0;
box-sizing: border-box;

}

body{

display: flex;
justify-content: center;
align-items: center;
min-height: 100vh;
background: cadetblue;


}

.menu{

position: relative;
width: 200px;
height: 200px;
font-size: 10rem;
display: flex;
justify-content: center;
align-items: center;

}

.aparicion {


font-size: 5rem;
color: red;
display: none;
position: absolute;
top: 10rem;

}